@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom base tweaks */
html, body, #root {
  height: 100%;
}
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
